body{
    position: relative;
    padding: 0px;
    margin: 0px;
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
}

#top{
    position: absolute;
    top: 30vh;


}

#box-container{
    display: flex;
    flex: row;
    gap: 5px;
    position: absolute;
    top: 56vh;
    left: 25vw;
}

.box {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    position: absolute;
}

#one{
    left:100px;
}



#bottom{
    position: absolute;
    top: 76vh;
}