
#top{
    position: absolute;
    top: 30vh;
}

#box-container{
    display: flex;
    flex: row;
    gap: 5px;
    position: absolute;
    top: 56vh;
    left: 25vw;
}

.box {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    position: absolute;
    user-select: none
}

#bottom{
    position: absolute;
    top: 76vh;
}
